
























<div class="container my-5">
  <div class="row">
    <div class="col-sm-6">
      <img [src]="viewBreed.photo" class="img-fluid">
    </div>
    <div class="col-sm-6">
      <h3 class="my-3 fs-1"><b>{{viewBreed.breed}}</b></h3>
      <p class="fs-3">place : {{viewBreed.origin}}</p>
      <p class="fs-3">Age : {{viewBreed.age}}</p>
      <p class="fs-3">popularity : {{viewBreed.popularity}}</p>
      <p class="fs-3">temperament : {{viewBreed.temperament}}</p>
      <p class="fs-3">intelligence : {{viewBreed.intelligence}}</p>
      <h3 class="my-3">Price : Rs {{viewBreed.price}}/-</h3>
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Book Now
      </button>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Seller Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="row">
          <div class="col-5">
            <i class="fa-solid fa-user text-primary"></i>
            <strong class="margin-10px-left text-primary"> Name:</strong>
          </div>
          <div class="col-7">
            <p>{{viewSeller.name}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-mobile-alt text-purple"></i>
            <strong class="margin-10px-left xs-margin-four-left text-purple">Phone:</strong>
          </div>
          <div class="col-md-7 col-7">
            <p>{{viewSeller.contact}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-envelope text-pink"></i>
            <strong class="margin-10px-left xs-margin-four-left text-pink">Email:</strong>
          </div>
          <div class="col-md-7 col-7">
            <p><a><span>{{viewSeller.email}}</span></a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-map-marker-alt text-green"></i>
            <strong class="margin-10px-left text-green"> Place:</strong>
          </div>
          <div class="col-md-7 col-7">
            <p>{{viewSeller.location}}</p>
          </div>
        </div>

        <h3 class="text-success-emphasis">{{checkoutMsg}}</h3>



      </div>
      <div style="float: left; margin-left: 10px;"><button type="button" class="btn btn-warning" data-bs-toggle="modal"
          data-bs-target="#fordelivery">For Delivery</button></div>


      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="checkout();deleteItem(breedId);deleteSeller(sellerId)" type="button" class="btn btn-primary">Book</button>
      </div>
    </div>
  </div>

</div>











<div class="modal fade" id="fordelivery" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Enter delivery details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="row">
          <div class="col-5">
            <i class="fa-solid fa-user text-primary"></i>
            <strong class="margin-10px-left text-primary"> Name:</strong>
          </div>
          <div class="col-7">
            <input autofocus type="text" placeholder="Enter name" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-mobile-alt text-purple"></i>
            <strong class="margin-10px-left xs-margin-four-left text-purple">Phone:</strong>
          </div>
          <div class="col-md-7 col-7">
            <input autofocus type="text" placeholder="Enter Phone Number" class="form-control" required>
          </div>
        </div>


        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-map-marker-alt text-green"></i>
            <strong class="margin-10px-left text-green"> Address:</strong>
          </div>
          <div class="col-md-7 col-7">
            <input autofocus type="text" placeholder="Enter Street Address" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-map-marker-alt text-green"></i>
            <strong class="margin-10px-left text-green"> City:</strong>
          </div>
          <div class="col-md-7 col-7">
            <input autofocus type="text" placeholder="Enter City" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-5">
            <i class="fas fa-map-marker-alt text-green"></i>
            <strong class="margin-10px-left text-green"> Pin-Code:</strong>
          </div>
          <div class="col-md-7 col-7">
            <input autofocus type="text" placeholder="Enter Pin-Code" class="form-control" required>
          </div>
        </div>

        <h3 class="text-success-emphasis">{{deliveryMsg}}</h3>



      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="checkout();deleteItem(breedId)" type="button" class="btn btn-primary">Deliver</button>
      </div>
    </div>
  </div>

</div>









